
<div layout="row" class="j-fill-white" layout-fill  layout-align="center center">
 <div>
 	<form  >
			<md-input-container class="md-block" flex-gt-sm>
	           <label>Username</label>
	           <input name="username" ng-model="form.username">
	         </md-input-container>
	         <md-input-container class="md-block" flex-gt-sm>
	           <label>Password</label>
	           <input type="password" name="password" ng-model="form.password">
	         </md-input-container>
		</form>
		<div layout="row" layout-align="end"><md-button  ng-click="login(form)">Login</md-button></div>
	
 </div>
	
</div>