<form name="memberForm" layout-gt-sm="row">
	<div flex-gt-sm="30">
		<md-card>
		  <md-toolbar class="md-primary">
		     <div class="md-toolbar-tools j-fill-white">
		      <h2 class="j-color-green">Personal Information</h2>
		    </div>
		  </md-toolbar>
	     <md-card-content layout="column" layout-margin >
	     	
	        <div >
     			<input type="hidden" ng-model="memberProfile.data.id">
     			<md-autocomplete  required
     					md-autofocus="false"
			            md-require-match="true"
						md-min-length="0"
			            md-selected-item="memberProfile.field.reference.value"
			            md-search-text="memberProfile.field.reference.searchText"
			            md-items="item in memberProfile.field.reference.search(memberProfile.field.reference.searchText)"
			            md-item-text="item.id"
			            md-floating-label="Reference">
			          <md-item-template>
			            <span md-highlight-text="reference.searchText">{{item.id}}</span>
			          </md-item-template>
			          <md-not-found ng-click="reference.createNew(reference.searchText)">
				          No states matching "{{reference.searchText}}" were found.
				          <a >Create a new one!</a>
				        </md-not-found>
		        </md-autocomplete>
				<md-input-container class="md-block" >
					<label>Name</label> <input ng-model="memberProfile.data.name" >
				</md-input-container>
     		</div>
     		<div  layout="row">
				<md-input-container class="md-block" flex>
				<label>Dcode</label> <input name="dcode" ng-model="memberProfile.data.dcode"
					ng-pattern="/^\d+$/">
				<div ng-messages="registraionForm.dcode.$error">
					<div ng-message="pattern">Please enter numeric values only.</div>
				</div>
				</md-input-container>
				<md-input-container class="md-block" flex>
				<label>Lcode</label> <input name="lcode"
					ng-model="member.lcode" ng-pattern="/^\d+$/">
				<div ng-messages="registraionForm.lcode.$error">
					<div ng-message="pattern">Please enter numeric values only.</div>
				</div>
				</md-input-container>
     		</div>
     		<div  layout="row">
     			<md-input-container class="md-block" flex>
				<label>Area No</label> <input name="area" ng-model="memberProfile.data.area"
					ng-pattern="/^\d+$/">
				<div ng-messages="registraionForm.area.$error">
					<div ng-message="pattern">Please enter numeric values only.</div>
				</div>
				</md-input-container>
				<md-input-container class="md-block" flex>
				<label>Group No</label> <input name="group"
					ng-model="memberProfile.data.group" ng-pattern="/^\d+$/">
				<div ng-messages="registraionForm.group.$error">
					<div ng-message="pattern">Please enter numeric values only.</div>
				</div>
				</md-input-container>
     		</div>
	     </md-card-content>
	 </md-card>
	 <md-card>
	     <md-toolbar class="md-primary">
		    <div class="md-toolbar-tools j-fill-white">
		      <h2 class="j-color-green">R3-10 Monitoring</h2>
		    </div>
		  </md-toolbar>
	     <md-card-content  layout="row" layout-wrap> 
	     	<md-datepicker flex-gt-sm="25" ng-model="attendance.datepicker"
					ng-repeat="attendance in memberProfile.data.dkAttendance" ng-change="attendance.date = attendance.datepicker.toLocaleString();" md-placeholder="{{attendance.id--1}} . Choose date..">
				</md-datepicker>
	     </md-card-content>
	 </md-card>
	</div>
	<div flex-gt-sm="70">
		<md-card>
		 	<md-toolbar class="md-primary">
			    <div class="md-toolbar-tools j-fill-white">
			      <h2 class="j-color-green">R3-05 Monitoring</h2>
			    </div>
			  </md-toolbar>
		     <md-card-content  layout="row" layout-wrap> 
		     	<md-datepicker flex-gt-sm="25" ng-model="attendance.datepicker"
								ng-repeat="attendance in memberProfile.data.skAttendance"  ng-change="attendance.date = attendance.datepicker.toLocaleString();" md-placeholder="{{attendance.id--1}} . Choose date..">
							</md-datepicker>
		     </md-card-content>
		 </md-card>
		 <md-card>
		 	<md-toolbar class="md-primary">
			    <div class="md-toolbar-tools j-fill-white">
			      <h2 class="j-color-green">R3-09 Monitoring</h2>
			    </div>
			  </md-toolbar>
		     <md-card-content  layout="row" layout-wrap> 
		     	<md-datepicker flex-gt-sm="25" ng-model="attendance.datepicker" 
								ng-repeat="attendance in memberProfile.data.wsAttendance" ng-change="attendance.date = attendance.datepicker.getTime();" md-placeholder="{{attendance.id--1}} . Choose date..">
							</md-datepicker>
		     </md-card-content>
		 </md-card>
	</div>
</form>

 
 
 <md-fab-speed-dial md-open="isSpeedDialOpen" md-direction="up"
                     class="md-fling position-fix-left-bottom">
    <md-fab-trigger>
      <md-button aria-label="menu" class="md-fab md-warn">
        <md-icon md-svg-src="resources/img/icons/menu.svg"></md-icon>
      </md-button>
    </md-fab-trigger>
    <md-fab-actions>
      <md-button aria-label="Save" class="md-fab md-raised md-mini" ng-click="memberProfile.save()">
        <md-icon style="color: rgb(76, 175, 80);"
            aria-label="save"
            class="material-icons step">
             done
        </md-icon>
      </md-button>
      <md-button ui-sref="encoding" aria-label="Cancel" class="md-fab md-raised md-mini">
         <md-icon style="color: rgb(76, 175, 80);"
            aria-label="save"
            class="material-icons step">
             clear
        </md-icon>
      </md-button>
    </md-fab-actions>
  </md-fab-speed-dial>

	     	<!-- <div flex-gt-sm="50" layout="column">
	     		<div flex-gt-sm layout-gt-sm="row">
	     			<md-autocomplete flex required
						            md-input-minlength="2"
						            md-input-maxlength="18"
						            md-no-cache="reference.noCache"
						            md-selected-item="reference.selectedItem"
						            md-search-text="reference.searchText"
						            md-items="item in reference.querySearch(reference.searchText)"
						            md-item-text="item"
						            md-floating-label="Reference">
						          <md-item-template>
						            <span md-highlight-text="reference.searchText">{{item}}</span>
						          </md-item-template>
						          <md-not-found ng-click="reference.createNew(reference.searchText)">
							          No states matching "{{reference.searchText}}" were found.
							          <a >Create a new one!</a>
							        </md-not-found>
					        </md-autocomplete>
	     		</div>
	     		<div flex-gt-sm layout-gt-sm="row">
	     			<input type="hidden" ng-model="member.id">
					<md-input-container class="md-block" flex-gt-sm>
						<label>Name</label> <input ng-model="member.name" >
					</md-input-container>
	     		</div>
	     		<div flex-gt-sm layout-gt-sm="row">
					<md-input-container class="md-block" flex-gt-sm>
					<label>Dcode</label> <input name="dcode" ng-model="member.dcode"
						ng-pattern="/^\d+$/">
					<div ng-messages="registraionForm.dcode.$error">
						<div ng-message="pattern">Please enter numeric values only.</div>
					</div>
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm>
					<label>Lcode</label> <input name="lcode"
						ng-model="member.lcode" ng-pattern="/^\d+$/">
					<div ng-messages="registraionForm.lcode.$error">
						<div ng-message="pattern">Please enter numeric values only.</div>
					</div>
					</md-input-container>
	     		</div>
	     		<div flex-gt-sm layout-gt-sm="row">
	     			<md-input-container class="md-block" flex-gt-sm>
					<label>Area No</label> <input name="area" ng-model="member.area"
						ng-pattern="/^\d+$/">
					<div ng-messages="registraionForm.area.$error">
						<div ng-message="pattern">Please enter numeric values only.</div>
					</div>
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm>
					<label>Group No</label> <input name="group"
						ng-model="member.group" ng-pattern="/^\d+$/">
					<div ng-messages="registraionForm.group.$error">
						<div ng-message="pattern">Please enter numeric values only.</div>
					</div>
					</md-input-container>
	     		</div>
	     		<div flex-gt-sm layout-gt-sm="row">
		     		
					<div flex-gt-sm="30" layout="column" show-sm hide-gt-sm layout-align="center center">
			     		<canvas flex-gt-sm id="doughnut" class="chart chart-doughnut"
						  chart-data="datas" chart-labels="labels" chart-legend="true">
						</canvas>  
						<h6>Estimated Completion Date: {{ member.completionDate | date:'yyyy-MM-dd' }}</h6>
			     	</div>
	     		</div>
	     	</div>
	     	<div flex-gt-sm="30" layout="column" hide-sm layout-align="center center">
	     		<canvas  id="doughnut" class="chart chart-doughnut"
				  chart-data="datas" chart-labels="labels" chart-legend=true>
				</canvas>  
				
				<h6>Estimated Completion Date: {{ member.completionDate | date:'yyyy-MM-dd' }}</h6>
	     	</div> -->