<div layout="row" layout-align="center">
	<md-card flex="100" flex-gt-sm="90">
		<md-data-table-toolbar class="toolbar-with-fab" ng-hide="search" layout="row" layout-margin>
		    <span class="md-subhead" flex="80" flex-gt-sm="95"><md-icon md-svg-icon="resources/img/icons/key.svg"></md-icon> &nbsp  Key Manager</span>
		    <span flex-gt-sm></span>
		    <md-button class="md-primary" ui-sref="keymanagement.addnew"  flex="15" flex-gt-sm="10">
		      <md-icon >add_circle</md-icon> <span hide show-gt-sm> Add New</span>
		    </md-button>
		</md-data-table-toolbar>
		 <md-card-content layout="column" >
	          	<md-data-table-toolbar class="toolbar-with-fab" ng-hide="search" layout="row">
				    <span class="md-subhead" flex="85" flex-gt-sm="95">List Of Keys</span>
				    <span flex-gt-sm></span>
				    <md-button class="md-icon-button" ng-click="search = true" flex="15" flex-gt-sm="5">
				      <md-icon>filter_list</md-icon>
				    </md-button>
				</md-data-table-toolbar>
				<md-data-table-toolbar class="toolbar-with-fab" ng-show="search" layout="row" >
				    <md-input-container class="md-block" flex>
						<label>Search</label> <input 
							ng-model="searchValue" >
							<md-icon class="j-cursor-pointer" ng-click="search = false; searchValue='' ">close</md-icon>
					</md-input-container>
				</md-data-table-toolbar>
				 <md-list layout="column" layout-padding  infinite-scroll='keymanagementInfiniteScroll.nextPage(searchValue || "")' infinite-scroll-disabled='keymanagementInfiniteScroll.busy' infinite-scroll-distance='0.6'>
				    <md-list-item layout="row" layout-align="center"   ng-repeat='item in keymanagementInfiniteScroll.items | filter:searchValue'>
				      <span flex-gt-xs="30" hide  show-gt-xs>{{item.key}}</span>
				      <span flex-gt-xs="50" hide  show-gt-xs>{{getValueStr(item)}}</span>
				      <span flex="50" hide-gt-xs><h3>{{item.key}}</h3><p>{{getValueStr(item)}}</p></span>
				      <span flex="50" flex-gt-xs="20" layout="row" layout-align="center center">
				      	<md-button aria-label="Edi3" class="md-icon-button" ng-click="goTo('keymanagement.addnew', item)" ng-disabled="showLoading">
					          <md-icon md-svg-icon="resources/img/icons/edit.svg"  ></md-icon>
					    </md-button>
				      	<md-button aria-label="Delete" class="md-icon-button" ng-click="remove(item)" ng-disabled="showLoading">
					          <md-icon md-svg-icon="resources/img/icons/trash.svg" ></md-icon>
					    </md-button>
				      </span>
				    </md-list-item>
				    
				      <div style='clear: both;'></div>		     
				    <div ng-show='keymanagementInfiniteScroll.busy'>Loading data...</div>
			    </md-list>
        </md-card-content>
	</md-card>
</div>


