<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <sidebar-search></sidebar-search>
            <li  ng-repeat="org in orgs" ng-class="{active: collapseVar==$index}">
            	<a href="" ng-click="check($index, org)"><i class="fa fa-users fa-fw"></i> {{org.name}}<span></span></a>
            	<ul class="nav nav-second-level" collapse="collapseVar!=$index">
            		<li ui-sref-active="active"  ng-class="{active: multiCollapseVar==$index}" ng-repeat="space in org.spaces">
            			<a href="" ng-click="displaySpace($index, space)"><i class="fa fa-dropbox fa-fw"></i>{{space.name}}<span></span></a>
            			<ul class="nav nav-third-level" collapse="multiCollapseVar!=$index">
		            		<li ui-sref-active="active" ng-repeat="app in space.apps">
		            			<a href="" ng-click="displayApp(app)"><i class="fa fa-dropbox fa-fw"></i>{{app.configuration.name}}<span></span></a>
		            		</li>
		            	</ul>
            		</li>
            	</ul>
			</li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div> 



