<md-card layout="column" layout-wrap layout-align="center">
		<md-button class="md-fab md-warn position-fix-left-bottom" ng-click="goTo('workerprofile', null)" aria-label="Use Android">
	          <md-icon style="color: white;"
		            aria-label="add"
		            class="step">
		             add
		        </md-icon>
        </md-button>
        
   		<md-data-table-toolbar class="toolbar-with-fab" ng-hide="search" layout="row">
		    <h4 class="md-title j-color-grey">Workers</h4>
		    <span flex-gt-sm></span>
		    <md-button class="md-icon-button" ng-click="search = true">
		      <md-icon>filter_list</md-icon>
		    </md-button>
		</md-data-table-toolbar>
		<md-data-table-toolbar class="toolbar-with-fab" ng-show="search" layout="row" layout-padding>
		    <md-input-container class="md-block" flex-gt-sm>
				<label>Search</label> <input 
					ng-model="searchValue" >
			</md-input-container>
		    <md-button class="md-icon-button" ng-click="search = false">
		      <md-icon>close</md-icon>
		    </md-button>
		</md-data-table-toolbar>
		<md-data-table-container>
		  <table data-md-table data-md-row-select="workerTable.options.rowSelection" multiple="{{workerTable.options.multiSelect}}" data-ng-model="workerTable.selected" >
		    <thead>
		      <tr>
		      	<th name="id"></th>
		      	<th name="name"></th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr md-auto-select ng-repeat="worker in workerTable.items | filter : searchValue">
		      	<td>{{worker.id}}</td>
		      	<td>{{worker.name}}</td>
		        <td>
				  <md-select ng-model="worker.name" placeholder="Edit">
				    <md-option ng-repeat="option in worker.options" ng-click="options(option, worker)" >{{option.name}}</md-option>
				  </md-select>
				</td>
		      </tr>
		    </tbody>
		  </table>
		</md-data-table-container>	
		<data-md-table-pagination md-limit="workerTable.query.limit" md-limit-options="workerTable.limitOptions" md-page="workerTable.query.page" md-total="{{workerTable.totalCount}}" md-on-paginate="workerTable.onPaginate" md-page-select="workerTable.options.pageSelect" md-boundary-links="workerTable.options.boundaryLinks"></data-md-table-pagination>
</md-card>
			