<md-card flex-gt-sm>
	  <md-toolbar class="md-primary">
	     <div class="md-toolbar-tools j-fill-white">
	      <h2 class="j-color-green">Personal Information</h2>
	    </div>
	  </md-toolbar>
     <md-card-content  layout="row" layout-margin>
     	<div flex-gt-sm="20" class="position-relative" hide-sm>
     		<md-icon style="color: #C0B9B9;font-size:10em;"
			            aria-label="Profile"
			            class="material-icons step position-absolute-left">
			          account_box
			        </md-icon>
     	</div>
     	<div flex-gt-sm="50" layout="column">
     		<div flex-gt-sm layout-gt-sm="row">
     			<md-autocomplete flex required
					            md-input-minlength="2"
					            md-input-maxlength="18"
					            md-no-cache="reference.noCache"
					            md-selected-item="reference.selectedItem"
					            md-search-text="reference.searchText"
					            md-items="item in reference.querySearch(reference.searchText)"
					            md-item-text="item"
					            md-floating-label="Reference">
					          <md-item-template>
					            <span md-highlight-text="reference.searchText">{{item}}</span>
					          </md-item-template>
					          <md-not-found ng-click="reference.createNew(reference.searchText)">
						          No states matching "{{reference.searchText}}" were found.
						          <a >Create a new one!</a>
						        </md-not-found>
				        </md-autocomplete>
     		</div>
     		<div flex-gt-sm layout-gt-sm="row">
     			<input type="hidden" ng-model="member.id">
				<md-input-container class="md-block" flex-gt-sm>
					<label>Name</label> <input ng-model="member.name" >
				</md-input-container>
     		</div>
     		<div flex-gt-sm layout-gt-sm="row">
				<md-input-container class="md-block" flex-gt-sm>
				<label>Dcode</label> <input name="dcode" ng-model="member.dcode"
					ng-pattern="/^\d+$/">
				<div ng-messages="registraionForm.dcode.$error">
					<div ng-message="pattern">Please enter numeric values only.</div>
				</div>
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
				<label>Lcode</label> <input name="lcode"
					ng-model="member.lcode" ng-pattern="/^\d+$/">
				<div ng-messages="registraionForm.lcode.$error">
					<div ng-message="pattern">Please enter numeric values only.</div>
				</div>
				</md-input-container>
     		</div>
     		<div flex-gt-sm layout-gt-sm="row">
     			<md-input-container class="md-block" flex-gt-sm>
				<label>Area No</label> <input name="area" ng-model="member.area"
					ng-pattern="/^\d+$/">
				<div ng-messages="registraionForm.area.$error">
					<div ng-message="pattern">Please enter numeric values only.</div>
				</div>
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
				<label>Group No</label> <input name="group"
					ng-model="member.group" ng-pattern="/^\d+$/">
				<div ng-messages="registraionForm.group.$error">
					<div ng-message="pattern">Please enter numeric values only.</div>
				</div>
				</md-input-container>
     		</div>
     		<div flex-gt-sm layout-gt-sm="row">
	     		
				<div flex-gt-sm="30" layout="column" show-sm hide-gt-sm layout-align="center center">
		     		<canvas flex-gt-sm id="doughnut" class="chart chart-doughnut"
					  chart-data="datas" chart-labels="labels" chart-legend="true">
					</canvas>  
					<h6>Estimated Completion Date: {{ member.completionDate | date:'yyyy-MM-dd' }}</h6>
		     	</div>
     		</div>
     	</div>
     	<div flex-gt-sm="30" layout="column" hide-sm layout-align="center center">
     		<canvas  id="doughnut" class="chart chart-doughnut"
			  chart-data="datas" chart-labels="labels" chart-legend=true>
			</canvas>  
			
			<h6>Estimated Completion Date: {{ member.completionDate | date:'yyyy-MM-dd' }}</h6>
     	</div>
     </md-card-content>
 </md-card>
 <md-card flex-gt-sm>
     <md-toolbar class="md-primary">
	    <div class="md-toolbar-tools j-fill-white">
	      <h2 class="j-color-green">R3-10 Monitoring</h2>
	    </div>
	  </md-toolbar>
     <md-card-content  layout="row" layout-wrap> 
     	<md-datepicker flex-gt-sm="25" ng-model="r310.datepicker"
				ng-repeat="r310 in member.r310" ng-change="r310.date = r310.datepicker.getTime();" md-placeholder="{{r310.id--1}} . Choose date..">
			</md-datepicker>
     </md-card-content>
 </md-card>
 <md-card flex-gt-sm>
 	<md-toolbar class="md-primary">
	    <div class="md-toolbar-tools j-fill-white">
	      <h2 class="j-color-green">R3-05 Monitoring</h2>
	    </div>
	  </md-toolbar>
     <md-card-content  layout="row" layout-wrap> 
     	<md-datepicker flex-gt-sm="25" ng-model="r305.datepicker"
						ng-repeat="r305 in member.r305"  ng-change="r305.date = r305.datepicker.getTime();" md-placeholder="{{r305.id--1}} . Choose date..">
					</md-datepicker>
     </md-card-content>
 </md-card>
 <md-card flex-gt-sm>
 	<md-toolbar class="md-primary">
	    <div class="md-toolbar-tools j-fill-white">
	      <h2 class="j-color-green">R3-09 Monitoring</h2>
	    </div>
	  </md-toolbar>
     <md-card-content  layout="row" layout-wrap> 
     	<md-datepicker flex-gt-sm="25" ng-model="r309.datepicker"
						ng-repeat="r309 in member.r309" ng-change="r309.date = r309.datepicker.toISOString();" md-placeholder="{{r309.id--1}} . Choose date..">
					</md-datepicker>
     </md-card-content>
 </md-card>
 
 <md-fab-speed-dial md-open="isSpeedDialOpen" md-direction="up"
                     class="md-fling position-fix-left-bottom">
    <md-fab-trigger>
      <md-button aria-label="menu" class="md-fab md-warn">
        <md-icon md-svg-src="resources/img/icons/menu.svg"></md-icon>
      </md-button>
    </md-fab-trigger>
    <md-fab-actions>
      <md-button aria-label="Save" class="md-fab md-raised md-mini" ng-click="save()">
        <md-icon style="color: rgb(76, 175, 80);"
            aria-label="save"
            class="material-icons step">
             done
        </md-icon>
      </md-button>
      <md-button ui-sref="encoding" aria-label="Cancel" class="md-fab md-raised md-mini">
         <md-icon style="color: rgb(76, 175, 80);"
            aria-label="save"
            class="material-icons step">
             clear
        </md-icon>
      </md-button>
    </md-fab-actions>
  </md-fab-speed-dial>